@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* Fonte */
:root{
  --font1:'Recursive', sans-serif;
}
body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font1);
}
/* Topo */

header {
    width: 100vw;
    height: 67px; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    background-color: #C3CFD9;
}
header h1 { 
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    align-items: center;
    color: #E8833A;
    cursor: pointer;
    text-align: center;
    vertical-align: center;
    justify-content: center;
    font-family: var(--font1);
}
.root a{
  text-decoration: none;
}
.title{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
  width: 100%;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  font-family: var(--font1);
}

/* Movies */
p{
    margin-bottom: 10px;
}
.Movies{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.Movies .title {
    width: 100%;
    /* height: var(--title-height); */
    display: flex;
    align-items: center;
    justify-content: center;
}
.Movies .movies{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Loading */

.loading {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loading .load {
    width: 100%;
    height: 100%;
    border: 7px solid ;
    border-top: 7px solid ;
    border-radius: 50%;
    position: absolute;
    animation: spin 2s linear infinite;
  }
  .loading-imagem{
    width: 100%;
    height: 100%;
    position: absolute;
  }
  
  /* Movie */
  
  .Movie {
    width: 145px;
    height: 209px;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 6px 15px;
  }

.Movie img {
    width: 129px;
    height: 193px;
  }
.movies{
  display: flex;
  justify-content: center ;
  flex-wrap: wrap;
}

/* Schedule/Horários */

.Schedule {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}

.Schedule .title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Session */
.Session{
  width: 100%;
  min-height: 110px;
  display: flex;
  margin-left: 23px;
  flex-direction: column;
  /* background-color: var(--default-background-color); */
}

.Session .session {
  
  height: 35px;
  font-size: 20px;
  color: #293845; 
  margin-bottom: 18px;
 
}

.Session .time {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 25px;
  flex-wrap: wrap;
  height: 43px;
  border-radius: 3px;
  font-family: var(--font1);
}
.Time{
  padding: 10px 20px;
  background-color: #E8833A;
  border-radius: 4px;
  color: white;
  margin-right: 6px;

}

/* Seats */

.seats {
  max-width: 386px;
  display: grid;
  gap: 15px 0px;
  grid-template-columns: repeat(10, auto);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.seat-types {
  display: flex;
  justify-content: center;
}
.seat-type {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: center;
  margin: 20px;
  letter-spacing: -0.013em;
  color: #4E5A65;
}

.seat-type:hover{
  cursor: default;
}
.seat-type p {
  margin-top: 7px;
}
.seat {
  width: 26px;
  height: 26px; 
  background: #C3CFD9;
  border: 1px solid #808F9D;
  box-sizing: border-box;
  border-radius: 12px;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.04em;
  color: #000000;
  cursor: pointer;
  user-select: none;
}
.seat:hover{
  cursor: default;
}
.yellow {
  background-color: #FBE192;
  border: 1px solid #F7C52B;
}
.selected {
  background: #8DD7CF;
  border: 1px solid #45BDB0;
}

.final {
  width: 225px;
  height: 42px;
  color: white;
  background-color: #E8833A;
  cursor: pointer;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px auto 150px;
  font-family: var(--font1);
}
h4{
  font-family: var(--font1);
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  margin-left: 10px;
}
.label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-family: var(--font1);
  font-size: 22px;
}



.Seats .label p {
  margin-top: 10px;
}
.formulario{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
label{
  display: flex;
  flex-direction: column;
 margin-top: 30px;
}
.box{
  height: 51px;
width: 327px;
left: 24px;
top: 580px;
border-radius: 3px;

}

/* Footer  */
.Footer {
  width: 100%;
  height: 117px;
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  background-color: white;
  bottom: 0;
  border: 1px solid #9eadba;
}

.Footer .info {
  width: 375px;
  height: 100%;
  display: flex;
  align-items: center;
}

.Footer .info div {
  width: 64px;
  height: 89px;
  padding: 8px;
  margin-right: 14px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.Footer img {
  width: 48px;
  height: 72px;
}
/* Sucesso */
.Sucesso{
  /* width: var(--default-width); */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* color: var(--default-text-color); */
}
.Sucesso h1{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  color: #247A6B;
  font-family: var(--font1);
  margin-top: 60px;
}
.Sucesso .subtitle {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 24px;
  margin-top: 50px;
  padding: 0 100px;
}
.estilo1,  .estilo3{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.estilo2{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.design{
  display: flex;
  flex-direction: column;
  margin-left: -128px;
  margin-top: 100px;
  
  
}
.Sucesso .info {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  font-size: 22px;
  /* padding: 0 100px; */
}
button{
  border: none;
  background-color: #E8833A;
  font-family: var(--font1);
  color: white;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  cursor: pointer;

}
.button-home {
  width: 225px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font1);
  background-color: #E8833A;
  color: white;
  cursor: pointer;
  border-radius: 3px;
 margin: 200px auto ;
}

